@model IEnumerable<wypozyczalniaDAL.Models.Rent>
@if (ViewBag.RentalsByUser!=null){
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Payment_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RentingDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.RentalsByUser)
        {
            <tr>
                <td>
                    @item.Payment_ID
                </td>
                <td>
                    @item.User_ID
                </td>
                <td>
                    @item.RentingDate
                </td>
            </tr>
        }
    </tbody>
</table>
}