@model IEnumerable<MovieRental.DAL.Models.Rate>

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-color: black;
            color: white;
        }

        .top-bar {
            background-color: darkgray;
            padding: 10px;
        }

            .top-bar a {
                color: white;
                text-decoration: none;
                margin-right: 20px;
            }

        table {
            color: white !important; /* Use !important to override other styles */
        }
        .create-button {
    background-color: gray;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
}

.create-button a {
    color: white;
    text-decoration: none;
}
    </style>
</head>
<body>
    <div class="top-bar">
        <a href="/categories">Categories</a>
        <a href="/payments">Payments</a>
        <a href="/movies">Movies</a> <!-- Updated link to Movies -->
        <a href="/rents">Rents</a>
        <a href="/users">Users</a>
    </div>

    <h1>Index</h1>

    <div class="create-button">
    <a asp-action="Create">Create</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RateValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RateValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Movie.Director)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id_Rate">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id_Rate">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id_Rate">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>