@using MovieRental.DAL.Models;
<h1>RENT CONTROLLER</h1>
@model IEnumerable<MovieRental.DAL.Models.Rent>

@{
    ViewData["Title"] = "Index";
}
<style>
    .custom-create-button {
        background-color: #333333;
        color: white;
        padding: 8px 16px; 
        border-radius: 4px; 
        text-decoration: none;
    }

    .custom-create-button:hover {
        background-color: #555555;
        color: white;
    }
</style>
@if (ViewBag.AllUsers != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (User item in ViewBag.AllUsers)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Surname</td>
                    <td><a asp-action="GetRentalsByUser" asp-route-id="@item.Id_User"><input type="button" value="Get Rental"></a></td>
                </tr>
            }
        </tbody>
    </table>
}

@if (ViewBag.AllMovies != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Director</th>
                <th>Premiere</th>
                <th>Description</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Movie item in ViewBag.AllMovies)
            {
                <tr>
                    <td>@item.Title</td>
                    <td>@item.Director</td>
                    <td>@item.Premiere</td>
                    <td>@item.Description</td>
                    <td><a asp-action="GetRentalsByMovie" asp-route-id="@item.Id_Movie"><input type="button" value="Get Rental"></a></td>
                </tr>
            }
        </tbody>
    </table>
}
<div class="create-button">
    <a asp-action="Create" class="custom-create-button">Create rent</a>
</div>