@model IEnumerable<wypozyczalniaDAL.Models.Rate>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Movie_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model._Rate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Movie_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item._Rate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id_Rate">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id_Rate">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id_Rate">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
