@using MovieRental.DAL.Models;
<h1>MOVIE CONTROLLER</h1>



@model IEnumerable<MovieRental.DAL.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<form asp-action="ShowMovies" asp-controller="Movie" method="get">
    Year of Production:<input type="text" name="year" />
    <input type="submit" value="Send" />
</form>
<br />

@if (ViewBag.Movies != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Director</th>
                <th>Premiere</th>
                <th>Description</th>
                <th>Average Rating</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (Movie item in ViewBag.Movies)
            {
                if(item == null)
                {
                    
                }
                else
                {
                    <tr>
                        <td>@item.Title</td>
                        <td>@item.Director</td>
                        <td>@item.Premiere</td>
                        <td>@item.Description</td>
                        @{
                            if (item.Rates.Count() > 0)
                            {
                                <td>@(Math.Round(item.Rates.Average(r => r.RateValue), 1))</td>                        
                            }
                            else
                            {
                                <td>0.0</td>
                            }
                        }
                    </tr>
                }
            }
        </tbody>
    </table>
}

@if (ViewBag.AllCategories != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Show all movies from this category</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Category item in ViewBag.AllCategories)
            {
                <tr>
                    <td><a asp-action="GetAllMoviesWithGivenCategory" asp-route-id="@item.Id_Category"><input type="button" value="@item.CategoryName"></a> </td>
                </tr>
            }
        </tbody>
    </table>
}