@using MovieRental.BLL.Services;
@using MovieRental.DAL.Models;
<h1>RATE CONTROLLER</h1>
@model IEnumerable<MovieRental.DAL.Models.Rate>

@{
    ViewData["Title"] = "Index";
}
<style>
    .custom-create-button {
        background-color: #333333;
        color: white;
        padding: 8px 16px;
        border-radius: 4px;
        text-decoration: none;
    }

    .custom-create-button:hover {
        background-color: #555555;
        color: white;
    }
</style>
<form asp-action="ShowAverageRatePerMovie" asp-controller="Rate">
    <input type="submit" value="Show Average Rate Per Movie" />
</form>
@if (ViewBag.AverageRatePerMovie != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.MovieId)</th>
                <th>@Html.DisplayNameFor(model => model.Movie.Title)</th>
                <th>Average Rate</th>
            </tr>
        </thead>
        <tbody>
            @foreach (MovieRatingResult item in ViewBag.AverageRatePerMovie)
            {
                <tr>
                    <td>@item.MovieId</td>
                    <td>@item.MovieTitle</td>
                    <td>@(Math.Round(item.AverageRate, 1))</td>
                </tr>
            }
        </tbody>
    </table>
}
<hr />
<form asp-action="ShowAverageRatePerUser" asp-controller="Rate">
    <input type="submit" value="Show Average Rate Per User" />
</form>
@if (ViewBag.AverageRatePerUser != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.UserId)</th>
                <th>@Html.DisplayNameFor(model => model.User.Name)</th>
                <th>Average Rate</th>
            </tr>
        </thead>
        <tbody>
            @foreach (UserRatingResult item in ViewBag.AverageRatePerUser)
            {
                <tr>
                    <td>@item.UserId</td>
                    <td>@item.UserName</td>
                    <td>@(Math.Round(item.AverageRate, 1))</td>
                </tr>
            }
        </tbody>
    </table>
}
<div class="create-button">
    <a asp-action="Create" class="custom-create-button">Rate movie</a>
</div>